[user]
	name = Roman Titov
	email = ffuugoo@users.noreply.github.com

[init]
	defaultBranch = main

[push]
	default = upstream

[core]
	excludesFile = ~/.gitignore
	editor = zed --wait
	pager = less -FR -+X

[diff]
	algorithm = histogram
	submodule = log

[merge]
	conflictstyle = zdiff3
	tool = smerge

[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true

[status]
	submodulesummary = 1

[submodule]
	recurse = true
