[user]
	name = Roman Titov
	email = ffuugoo@users.noreply.github.com

[core]
	excludesFile = ~/.gitignore
	editor = code --wait
	pager = less -FR -+X

[init]
	defaultBranch = main

[merge]
	tool = smerge

[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
