/*

!/Installed Packages/
!/Lib/
!/Packages/

!.gitignore


/Packages/*

!/Packages/User/

!/Packages/Debugger/
!/Packages/Rust Enhanced/

!/Packages/Old School Cool/


OverrideAudit.status

*.hidden-color-scheme
*.user-ca-bundle
